<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html" charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css" >
        <link rel="stylesheet" href="../../../assets/css/jquery-ui.css" >
        <link rel="stylesheet" href="../../../assets/css/jquery.datepick.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/uploadfile.css" >
        <link rel="stylesheet" href="../../../assets/css/fontawesome-all.min.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/slide-menu.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/table-header.css" >
        <link rel="stylesheet" href="../../../assets/css/custom/view.css" >
    </head>
    <body onload="loadHtmlPage('../menu.html', 'sidemenu');toggle_display('dview');">
        <div class="container-fluid" style="padding:0; margin:0; top:0; left:0;">
            <div id="pagecover"></div>
            <div id="notifier"></div>
            <div ng-app="exam_typesView" ng-controller="exam_typesCtrl" class="row">
                <div id="sidemenu" class="col-xl-3 col-lg-3 col-md-3 d-lg-inline d-md-inline d-sm-none d-none"></div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <span class="info"></span>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li onclick="toggle_display('dview','reload');" class="rootmenu"><i class="fas fa-home" aria-hidden="true"></i><a href="#"> Home</a></li>
                                <li class="rootmenu"><i class="fas fa-print" aria-hidden="true"></i><a href="#"> Print</a></li>
                                <li class="rootmenu"><i class="fas fa-cloud-download-alt"></i><a href="#"> Export</a>
                                    <ul id="menu_list">
                                        <li><i class="fas fa-file-excel" aria-hidden="true"></i><a href="#">  Excel</a></li>
                                        <li><i class="fas fa-file-alt" aria-hidden="true"></i><a href="#">  CSV</a></li>
                                        <li><i class="fas fa-file-pdf" aria-hidden="true"></i><a href="#">  Pdf</a></li>
                                        <li><i class="fas fa-file-alt" aria-hidden="true"></i><a href="#">  Text</a></li>
                                        <li><i class="fas fa-file-word" aria-hidden="true"></i><a href="#">  Word</a></li>
                                    </ul>
                                </li>
                                <li onclick="toggle_display('dnew');" class="rootmenu"><i class="fas fa-copy" aria-hidden="true"></i><a href="#"> Add New</a></li>
                            </ul>
                        </div>
                    </div>
                <div class="row">
                    <div>
            <div class="display" id="dnew">
                <form name="frmExam_type"  method="post" enctype="multipart/form-data">
                    <input #colname type="hidden" name="colname" ng-model="update.col_name" />
                    <input #colvalue type="hidden" name="colvalue" ng-model="update.col_value" />

    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="exam_type.name" placeholder="Enter name" />
    </div>
    <div class="form-group">
    <label for="logo">Logo</label>
    <input type="text" ng-show="false" id="dlogo" name="dlogo" ng-model="exam_type.logo" />
    <input onchange="angular.element(this).scope().placelogo(this);" type="file" class="form-control" id="flogo" name="flogo" placeholder="Enter logo" />
        <div id="photoshow" name="photoshow"></div>
    </div>
    <div class="form-group">
    <label for="dateadded">Date Added</label>
    <input type="date" class="form-control" name="dateadded" ng-model="exam_type.dateadded" placeholder="Enter dateadded" />
    </div>
    <div class="form-group">
    <label for="active">Active</label>
    <input type="text" class="form-control" name="active" ng-model="exam_type.active" placeholder="Enter active" />
    </div>
<button ng-click="exam_type_save();" type="button" class="btn btn-primary">&nbsp;SAVE&nbsp;</button>
</form>
</div><div class="display" id="dview">
<table class="table table-hover table-dark table-bordered">    <thead>
        <tr><th>S/N</th><th>ID</th><th>NAME</th><th>LOGO</th><th>&nbsp;</th>
    </tr></thead><tbody><tr ng-repeat="x in exam_types.exam_type"><td>{{$index + 1}}</td><td>{{x.id}}</td><td>{{x.name}}</td><td>{{x.logo}}</td><td align="center">&nbsp;<i onclick="toggle_display('dnew');" ng-click="do_exam_type_update('id', x.id);" class="fas fa-edit"></i>&nbsp;&nbsp;<i onclick="toggle_display('dsview');" ng-click="exam_type_view_single('id', x.id);" class="fas fa-eye"></i>&nbsp;&nbsp;<i ng-click="exam_type_delete('id', x.id);" class="fas fa-trash"></i></td>&nbsp;
</tbody>
</table>
</div>
    <div class="display" id="dsview">
        <table>
            <tr><td align="right"><b>id:</b></td><td align="left">&nbsp;{{exam_type.id}}</td></tr>
            <tr><td align="right"><b>name:</b></td><td align="left">&nbsp;{{exam_type.name}}</td></tr>
            <tr><td align="right"><b>logo:</b></td><td align="left">&nbsp;{{exam_type.logo}}</td></tr>
            <tr><td align="right"><b>dateadded:</b></td><td align="left">&nbsp;{{exam_type.dateadded}}</td></tr>
            <tr><td align="right"><b>active:</b></td><td align="left">&nbsp;{{exam_type.active}}</td></tr>
        </table>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/popper.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/angular.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.datepick.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.table2excel.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/jquery.uploadfile.min.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/utility.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/js/autocomplete.js"></script>
    <script language="javascript" type="text/javascript" src="../../../assets/src/exam_types.js"></script>
    <script>
        $("#flogo").on('change', function() {
            file = this.files[0];
            previewImage(file, "photoshow");
        });
    </script>
</body>
</html>