<nav class="navbar bg-dark navbar-dark">
  <ul class="navbar-nav"><h1>Mathchamp<sup>&reg;</sup></h1>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/access/"><i class="fas fa-star"></i>  Access</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/exam_types/"><i class="fas fa-star"></i>  Exam Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/payments/"><i class="fas fa-star"></i>  Payments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/question_banks/"><i class="fas fa-star"></i>  Question Banks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/roles/"><i class="fas fa-star"></i>  Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/schools/"><i class="fas fa-star"></i>  Schools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/scores/"><i class="fas fa-star"></i>  Scores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/setup/"><i class="fas fa-star"></i>  Setup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/subjects/"><i class="fas fa-star"></i>  Subjects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/users/"><i class="fas fa-star"></i>  Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:8085/mathchamp/app/views/winners/"><i class="fas fa-star"></i>  Winners</a>
    </li>
  </ul>
</nav>